<h4>Ryan Bros. Coffee: Our Story</h4>
<div class="poem">
	<p>
	From the beginning there was no misgiving, <br>
	when many a bank gave us the shank, <br>
	that this and that was meant to be, <br>
	especially with brothers numbering 3, <br>
	the whole family put chips on the table… <br>
	believing the promise surely able; <br>
	And now some 20 years we’ve massed, <br>
	reflections of friendships come and passed…  <br>
	the one true memory never fades, <br>
	sentiments, perhaps, from how we’re raised, <br>
	when the  pressure’s on, and you’re about to quit her… <br>
	Just remember: Life’s too short to be bitter!™
	</p>
			 <author>J.B.J. O’Rain</author>
</div>
<h5>The Inspiration</h5>
<div class="columns eight alpha">
	The bringing together of family; the development of genuine friendship; To have a purpose, a goal, and to deliver something with great tangible and intangible values so that our friends’ and customers’ lives could be enhanced; through emulating the hard work and commitment to integrity of our forbearers, the establishment of a Legacy  that would foster and nurture the ever-important fabric of family and community.
</div>
<div class="columns eight omega">
	<img src="<%= asset_path( '/static_pics/Ryan family men.jpg' ) %>" alt="Ryan father and brothers">
</div>
<h5>The Journey</h5>
<div class="columns eight alpha">
	The analogy of laying train tracks comes to mind: - A slow, methodical, day-in-day-out commitment to providing the “next track”- -hopefully better today than yesterday! No task too small and the sacrifice of ego for the betterment of self and others; Hopefully when the day is done, to have laid a foundation that is less precarious, fully developed, and beautiful to experience as a family member, customer and friend.  And someday, the foundation upon which a memorable  ride reminds us of WHY we do things with significance  in mind. 
</div>
<div class="columns eight omega">
	<img src="<%= asset_path( 'static_pics/on the docks.jpg' ) %>" alt="On the dock at Pacific Beach">
</div>
<h5>The Craft</h5>
<div class="columns sixteen">
	The mastery of coffee drink-making led us down a path of ingredient discovery that transitioned us from solely a service to a recognized, Award Winning Brand. In an effort to have the best quality possible, and to distinguish ourselves from the Goliaths and mediocrity in the marketplace, it became essential that we produce what was required to be the very best we could be!  Years of honing the craft of great Micro-Roasting has led to the discovery of slow-roasting as an art form; knowing what you have to work with begins with years of experiencing things done well, and we’ve been very fortunate to have made good choices along the way! Our slogan “Life is too short to be bitter” ™ serves as a guide and reminder of the excellence to be strived for everyday—in ALL facets of our production and daily interaction!
</div>
<div class="columns eight alpha">
	<img src="<%= asset_path( 'first cart.jpg' ) %>" alt="Ryan Bros's first cart.">
</div>
<div class="columns eight omega">
	<img src="<%= asset_path( 'first store.jpg' ) %>" alt="Working inventory on our first store.">
</div>

<h5>Where Friends Meet</h5>
<div class="columns eight alpha">
	<img src="<%= asset_path( 'Ryan brothers.jpg' ) %>" alt="The Ryan Brothers: Harry, Tom, and Carmine">
</div>
<div class="columns eight omega poem">
	<p>
	The Mermaid stormed all the land… <br>
	With bitter brew-not so grand! <br>
	But now you’ve found a better way… <br>
	A better brew—everyday! <br>
	Rejoice in finding the brothers Ryan… <br>
	It’s the best of brews—there’s no denying!
	</p>
				<author>J.B.J. O’Rain</author>

</div>



 
